@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

$primary-bg: #901C1C;
$secondary-bg: #D3573C;
$secondary-dark-color: #525252;
$secondary-dark-bg: #FAFAFA;
$secondary-dark-bg: #FAFAFA;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    width: 90%;
    margin: 5px;
    padding-top: 40px;
    padding-left: 30px;
    a {
        img {
            width: 200px;
        }
    }
}
main {
    z-index: 0;
    overflow: visible;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    header {
        padding: 5px;
        background-color: #FAFAFA;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        width: 95%;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        #info-header {
            width: 50%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            line-height: 30px;
            h1{
                color: #D3573C;
                font-size: 44px;
                line-height: 60px;
                width: 67%;
            }
            p{
                font-size: 24px;
                color: $primary-bg;
                line-height: 30px;
            }
            em {
                color: #525252;
                margin: 10px 0px;
            }
            nav {
                margin-top: 20px;
                a {
                    text-decoration: none;
                    color: $primary-bg;
                    border: 0.5px solid $secondary-dark-color;
                    margin: 0 5px;
                    text-align: center;
                    padding: 2px 4px;
                    font-size: 12px;
                    border-radius: 12px;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                    -ms-border-radius: 12px;
                    -o-border-radius: 12px;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    &:hover{
                        color: $secondary-dark-bg;
                        background-color:$primary-bg;
                        border-color: #901C1C;
                    } 
                }
            }
            button{
                z-index: 5;
                position: relative;
                height: 50px;
                cursor: pointer;
                left: 70%;
                bottom: 160px;
                width: fit-content;
                background-color: $primary-bg;
                color: #fff;
                padding: 15px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-weight: 700;
                text-align: center;
                outline: none;
                border: none;
            }
           
        }
        #photo-header {
            width: 40%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img {
                background: #C4C4C4;
                box-shadow: 0px 4px 12px rgba(0,0,0,0);
                margin: 5px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }

    }
    #container_dropdownMenu {
        margin-top: 10px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            p {
                font-size: 18px;
                font-weight: 700;
                margin: 0px 20px;
            }
        .menu_button {
            font-weight: 700;
            overflow: hidden;
            background-color: $primary-bg;
            width: 150px;
            height: 50px;
            margin: 15px;
            padding: 5px 15px 15px 5px;
            color: #FFF;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: all 0.5s ease-out;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            .container{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #FFF;
                    padding: 10px 0 10px 10px;
                }
                button {
                    border: none;
                    outline: none;
                    background-color: $primary-bg;
                    color: #FFF;
                    cursor: pointer;
                    width: 30px;
                    height: 20px;
                    font-size: large;
                    i {
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        transform: rotateZ(0deg);
                        -webkit-transform: rotateZ(0deg);
                        -moz-transform: rotateZ(0deg);
                        -ms-transform: rotateZ(0deg);
                        -o-transform: rotateZ(0deg);
                    }
                }
            }
         
                #menu-dropdown {
                    list-style: none;
                    position: relative;
                    top: -300px;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    li {
                        padding: 10px 0 10px 10px;
                        a{
                            text-decoration: none;
                            color: #FFF;
                        }
                    }
                }
            
        }
    }
    #gallerie {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        #card{
            padding-bottom: 20px;
            margin: 0 auto;
            width: 350px;
            .infoMedia {
                width: 350px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                h3 {
                    margin-left: 20px;
                    font-size: 18px;
                    font-weight: 400;
                    color: $primary-bg;
                }
                
                .rightMedia {
                    width: 25%;
                    margin-right: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    align-items: center;
                }
            }

        img {
            object-fit: cover;
            width: 350px;
            height: 350px;
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s, box-shadow 0.5s;
            -moz-transition: transform 0.5s;
            -ms-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transform: scale(1.04);
                -webkit-transform: scale(1.04);
                -moz-transform: scale(1.04);
                -ms-transform: scale(1.04);
                -o-transform: scale(1.04);
}
        }
        video {
            object-fit: cover;
            width: 350px;
            height: 350px;
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s, box-shadow 0.5s;
            -moz-transition: transform 0.5s;
            -ms-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transform: scale(1.04);
                -webkit-transform: scale(1.04);
                -moz-transform: scale(1.04);
                -ms-transform: scale(1.04);
                -o-transform: scale(1.04);
}
        }}
    }
    #lightbox {
        overflow: auto;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: red;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        animation: lightboxIn 0.5s;
        -webkit-animation: lightboxIn 0.5s;



display: none;




        #lightbox__next,#lightbox__previous{
            background: url(../../../img/arrow.svg) center center / 48px 30px no-repeat;
            position: fixed;
            top: 0%;
            right: 0;
            z-index: 20;
            text-indent: -3000px;
            border: none;
            cursor: pointer;
            outline: none;
            width: 50px;
            height: 100%;
            opacity: 0.5;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            &:hover{
                opacity: 1;
            }
        }
        #lightbox__previous {
            right: auto;
            left: 0;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        #lightbox__close {
            z-index: 30;
            background: url(../../../img/cross.svg) center center / 26px 24px no-repeat;
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
            text-indent: -3000px;
            position: fixed;
            top: 30px;
            right: 10px;
            opacity: .5;
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -ms-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            &:hover{
                opacity: 1;
            }
        } 
        #lightbox__container {
            width: 90%;
            height: 90%;
            margin: 0 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            animation: lightboxIn 0.5s;
            -webkit-animation: lightboxIn 0.5s;
            p {
                margin-left: 20%;
                width: 90%;
                text-align: left;
                color: $primary-bg;
            }
            img {
                max-height: 100% ;
                min-width: 70% ;
                max-width: 100%;
            }
}

    }
    @keyframes lightboxIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}


// FORMULAIRE DE CONTACT
aside {
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: none;
    #container {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 15px;
        position: relative;
        background-color: #DB8876;
        width: 40%;
        height: 77%;
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
        color: #312E2E;
        #close{
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            color: #FFF;
            font-size: 32px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            #close-container {
                background-color: red;
                position: relative;
                width: 100%;
                height: 100%;
                #cross-1{
                   position: absolute;
                   top: 8px;
                   width: 100%;
                   height: 3px;
                   background-color: #FFF;
                   transform: rotate(45deg);
                   -webkit-transform: rotate(45deg);
                   -moz-transform: rotate(45deg);
                   -ms-transform: rotate(45deg);
                   -o-transform: rotate(45deg);
                }
                #cross-2{
                   position: absolute;
                   top: 8px;
                   width: 100%;
                   height: 3px;
                   background-color: #FFF;
                   transform: rotate(-45deg);
                   -webkit-transform: rotate(-45deg);
                   -moz-transform: rotate(-45deg);
                   -ms-transform: rotate(-45deg);
                   -o-transform: rotate(-45deg);
                }
                &:focus {
                    border: 2px solid $secondary-dark-color;
                }
            }
              
            
        }
        h2 {
            font-weight: 500;
            color: #000000;
            margin-bottom: 10px;
            font-size: 32px;
        }
        .field {

            label {
                text-align: left;
            }
            input {
                outline: none;
                border: none;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding-left: 10px;
                &:focus {
                    border: 1px solid $primary-bg;
                }
            }
            textarea {
                padding: 10px 0 5px 10px;
                outline: none;
                border: none;
                width: 100%;
                height: 100px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                &:focus {
                    border: 1px solid $primary-bg;
                }
            }
        }
        button {
            cursor: pointer;
            width: fit-content;
            padding: 10px 20px;
            margin: 10px 0;
            text-align: center;
            font-size: 12px;
            color: #fff;
            background-color: $primary-bg;
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            &:hover{
                background-color: $secondary-bg;
            }
            &:focus {
                border: 2px solid $secondary-dark-color;
            }
        }
    }
}

// BANNER
@media (max-width: 640px) {
    header {
        padding-left: 15px;
    }
    main {
        width: 95vw;

        header {
            background-color: #fff;
            position: relative;
            height: 185px;
            padding: 0;
            #info-header {
                padding-top: 10px;
                padding-left: 10px;
                margin: 0px;
                justify-content: flex-start;
                h1 {
                    font-weight: 400px;
                    font-size: 26px;
                    line-height: 25px;
                    padding-top: 10px;
                    margin-bottom: 0px;
                    width: fit-content;
                    // white-space: nowrap;
                }
                p, em {
                    padding-top: 8px;
                    // background-color: red;
                    width: 150%;
                    // white-space: nowrap;
                    line-height:12px;
                    font-size: 16px;
                }

                button {
                    position: fixed !important;
                    display: block;
                    height: fit-content !important;
                    bottom: 0;
                    top: 80% !important;
                    left: 50% !important;
                    width: fit-content;
                    transform: translate(-50%, 50%) !important;
                    -webkit-transform: translate(-50%, 50%) !important;
                    -moz-transform: translate(-50%, 50%) !important;
                    -ms-transform: translate(-50%, 50%) !important;
                    -o-transform: translate(-50%, 50%) !important;
                }
                nav{
                    position: absolute;
                    bottom: -5px;
                    margin: 0;
                    flex-flow: row wrap;
                    // background-color: green;
                    a {
                        line-height: 10px;
                        margin: 2px;
                        padding: 0px 2px;
                    }
                }
            }
            #photo-header {
                position: absolute;
                right: -7px;
                top: -5px;
                align-items: center;
                width: 130px;
                // background-color: yellow;
                img {
                    width: 100px;
                    height: 100px;
                }
            }

        }
        #container_dropdownMenu {
            display: none;
        }
        #gallerie {
            margin-top: 10px;
            #card {
                width: fit-content;
                img, video{
                    width: 240px !important;
                    height: 240px !important;
                }
                .infoMedia {
                    width: 100%;
                    height: 30px;
                    h3 {
                        margin-left: 5px;
                        font-size: 14px;
                        width: 130px;
                        vertical-align:middle;
                    }
                    
                    .rightMedia {
                        font-size: 14px;
                        width: 40%;
                        // background-color: yellow;
                        // margin-left: 10px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            color: $primary-bg;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .lightbox__container {
            width: 95%;
            height: auto;
            p {
                margin-left: 20%;
            }
            img {
                height: auto !important;
                width: 70% !important;
            }
        }
    }
}

@media (max-width: 350px) {
    #photo-header {
        
        width: 130px;
        height: fit-content;
        // background-color: yellow;
        img {
            position: absolute;
            right: -7px;
            top: -2px;
            align-items: flex-start;
            width: 100px;
            height: 100px;
        }
    }
}

//ASIDE
@media (max-width: 900px) {
    aside {

        #container {
            width: 80%;
            height: fit-content;
        }
    }
}